@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
body
{
    color:white;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;     
    background-color:#1f2020
}
.menu
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.08);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, #1f2020e5 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    z-index:9999;
 
    
}

.secao
{
    background-color: #1f2020;
    min-height: 80vh;
    width: 100vw;
}

.texto-home
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sidebox
{
    position:absolute;
    height: 10%;
    top:0;
    right: -200px;
    width: 0;
    border-radius: 15px;
    z-index: 1;
    padding: 0;
    overflow-x: hidden;
    background-color: #272727;
    transition: 0.5s;
    overflow-y: hidden;

}
.sidebox.open
{
    width: 200px;
    height: 200vh;
    overflow-y: hidden;
    position: absolute;
    top: 85%;
    right: 0;
    
}

.iconemenu
{
  cursor: pointer;
  transition: 0.5s;
  overflow-y: hidden;
}

.fecharaba
{
top: auto;
right: 0;
padding-left: 10px;
padding-top: 10px;
cursor: pointer;

}

.sobre-mim
{
    position:absolute;
    height: 50vh;
    width: 50vw;
    top: 100%;
    left: 50%;
    transform: translate( -50%, 60%);
    background-color: #272727;
    border-radius: 15px;
    color: rgb(224, 224, 224);
    padding-left: 10px;
    padding-top: 10px;

}

.foto-minha
{
    height: 250px;
    width: 200px;
    border-radius: 8px;
    /* position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%); */
}
/* .foto-minha:nth-child(1)
{
    transform: rotate(-90deg);
    transform-origin: bottom;
}
.foto-minha:nth-child(2)
{
    transform: rotate(-45deg);
    transform-origin: bottom;
}
.foto-minha:nth-child(3)
{
    transform: rotate(45deg);
    transform-origin: bottom;
}
.foto-minha:nth-child(4)
{
    transform: rotate(90deg);
    transform-origin: bottom;
} */

.fotos-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.overlay {
    position: fixed;
    left: 0;
    right: 200px;
    top: 0;
    bottom: 0;
    background-color: #000000a8;
    z-index: 99999;
    display: none;
    backdrop-filter: blur(2px);
    animation: aparecer .3s ease forwards;
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* .foto3
{
    
} */

